* {
    box-sizing: border-box;
    margin: 0;
}

.dropdown.open>.container-dropdown {
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 204px;
    text-align: center;
}

.dropdown.open>img {
    transform: rotate(180deg);
}


.dropdown.close>.container-dropdown {
    display: none
}

.dropdown.close>img {
    transform: rotate(0deg);
}


.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-image: url("/assets/images/backgroudHeader.svg");
    height: 500px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;

}

header p {
    color: var(--Yellow, #FFD15B);
    text-align: center;
    font-family: Anton;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    width: 50%;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar {
    text-align: center;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    align-items: center;
}

.search_input {
    width: 94%;
    height: 72px;
    color: var(--Grey, #7A7A7A);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 11px;
    border-color: unset;
    border: none;
    outline: none;
}

main {
    background-color: #EDEDED;
}

.search_button {
    background-color: black;
    border-radius: 11px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
}

.main_bouton_filtre {
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

article img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 20px 20px 0 0;
}

.dropdown {
    overflow: hidden;
    background-color: white;
    border-radius: 11px;
}

.dropdown>button {
    padding: 17px 16px 17px 16px;
    border-radius: 11px;
    border: none;
    cursor: pointer;
    background: #FFFFFF;
    width: 185px;
}

.open {
    border-radius: 11px 11px 0 0;

}



.dropdown ul {
    background: white;
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    max-height: 300px;
    text-align: left;
    width: 195px;
}

.dropdown li {
    margin-left: 13px;
    margin-top: 5px;
    text-transform: capitalize;
}

.dropdown ul::-webkit-scrollbar {
    width: 0 !important;
}

.main_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 66px;
    padding-top: 90px;
}


.card_recipe {
    background: white;
    height: 730px;
    width: 64%;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
}


.time {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #FFD15B;
    padding: 5px 5px;
    border-radius: 14px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 12px;
}

.footer-recette {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 54%;
    margin: 10px 20px 0 20px
}

.nom-recette {
    font-family: Anton;
    color: black;
    font-weight: 400;
    font-size: 18px;

}

.recette h3 {
    color: #7A7A7A;
    font-family: Manrope;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.08px;
    margin-bottom: 15px;
}

.recette p {
    color: black;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
}

.title-ingredient {
    color: #7A7A7A;
    font-family: Manrope;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.08px;
    margin-bottom: 15px;
}

.ingredient-quantite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.nom-ingredient {
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.quantite-ingredient {
    color: #7A7A7A;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
}